/* Estilos para o cabeçalho */
header {
    height: 100px; /* ajuste conforme necessário */
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.div-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bg-logo {
    background: var(--gradient-blue);
    border-radius: 20%;
    padding: 5px;
    display: flex;
}

#logo {
    width: 30px;
    height: 30px;
    margin: 5px;
}

#marca {
    font-size: 25px;
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    
}

#links {
    display: flex;
    gap: 30px; 
}

#links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding: 20px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: rgba(0, 0, 0, 0.685);
    background-color: transparent;
    text-decoration: none;
    border-radius: 20px;
    
}

#links a:hover {
    color: var(--blue);
    cursor: pointer;
    font-weight: 700;
}

@media (max-width: 1440px) {
    header {
        max-width: 1440px;
    }
    nav {
        max-width: 1440px;
    }
    
}

@media (max-width: 1024px) {
    header {
        max-width: 1024px;
    }
    .div-logo {
        margin-left: 50px;
    }
    #links {
        margin-left: 100px;
    }
}