*{
    background: url("../image/wave-haikei.svg");
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 80px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.div-logo{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 20px;
}

#logo {
    width: 90px;
    height: 90px;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    gap: 120px;
    
}

#links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 20px;
    height: 50px;
    font-size: 30px;
    border: none;
    color: rgba(255, 255, 255, 0.685);
    background-color: transparent;
    text-decoration: none;
    border-radius: 20px;
    
}

#links a:hover {
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
}

