html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

section h1 {
  width: 100%;
  max-width: 1000px;
  font-size: 95px;
  font-weight: 800;
  margin: 0;
  color: var(--text-color);
}

.frase {
  font-weight: 400;
  font-size: 35px;
  color: var(--text-color);
  opacity: 1;
  user-select: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.learning-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  padding: 0;
  margin: 0;
}

.learning-options h2 {
  color: var(--text-color);
  font-size: 45px;
  font-weight: 700;
}

.learning-options span {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 40px;
  color: var(--text-color);
}

.destaque {
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.cards-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 20px 0;
  padding: 20px 0;
  color: white;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 450px;
  height: 450px;
  color: black;
  padding: 30px;
  box-sizing: border-box;

  border-radius: 20px;
  position: relative;
  
  transition: all 0.25s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.30);
}

.card::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}

.card:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-10px);
  border: none;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.card *{
  width: 100%;
}


.icone-card {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card:hover .icone-card {
  transform: scale(1.1);
}

.bg-rosa {
  background: var(--gradient-rosa);
}

.bg-roxo {
  background: var(--gradient-roxo);
}

.bg-azul {
  background: var(--gradient-blue);
}


.icone-card img {
  display: flex; 
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0;
  margin-top: 10px;
  object-fit: contain;
}

.card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.card p {
  font-weight: 400;
  font-size: 24px;
}

.btn-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  height: 15%;
  border-radius: 20px;
  margin: 0 auto;
  color: white;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  background: var(--gradient-main);
  height: 100px;
}

footer p {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px;
}

footer img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 1440px) {
  section h1 {
    width: 90%;
    font-size: 80px;
    text-align: center;
  }
  .frase {
    font-size: 30px;
    text-align: center;
    width: 80%;
  }

  .cards-list {
    display: grid;
    justify-items: center;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 0;
    justify-content: center;
  }

  .card {
    width: 350px;
    height: 350px;
    padding: 15px;
    gap: 15px;
  }

  .icone-card {
    width: 70px;
    height: 70px;
  }

  .icone-card img {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 15px;
  }

  .card h3 {
    font-size: 24px;
    margin: 10px 0;
  }

  .card p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media (max-width: 1024px) {
  section h1 {
    width: 90%;
    font-size: 70px;
    text-align: center;
  }
  .frase {
    font-size: 26px;
  }
  
  .learning-options h2 {
    font-size: 40px;
  }
  .learning-options span {
    font-size: 26px;
  }

  .cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .card {
    width: 400px;
    height: 400px;
  }

  .icone-card {
    width: 70px;
    height: 70px;
  }

  .icone-card img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
  }

  .card h3 {
    font-size: 28px;
  }

  .card p {
    font-size: 26px;
  }

  .btn-card {
    font-size: 20px;
    height: 50px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  section h1 {
    font-size: 50px;
  }
  .frase {
    font-size: 22px;
    text-align: center;
    width: 90%;
  }
}