html {
  scroll-behavior: smooth;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--background-gradient);
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -2; /* fica atrás do conteúdo */
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 10px;
  background: url("../image/wave-haikei.svg");
  background-size: cover;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.frase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  margin: 20px auto;
  padding: 10px;
}

div h1 {
  width: 334px;
  color: rgb(0, 0, 0);
}

.say {
  color: var(--blue);
}

.It {
  color: var(--red);
}

.frase {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.815);
  opacity: 1;
  user-select: none;
}

.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 150%;
  height: 500px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.principal h2 {
  color: #60a5fa;
}

.opcoes{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
  margin: 20px;
  padding-top: 20px;
  color: white;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 350px;
  height: 350px;
  color: black;
  border: 1px solid var(--blue);
  border-radius: 20px;
  position: relative;
  
  box-shadow: 0 0 0 rgba(0,0,0,0);

  transition: all 0.25s ease;
}

.cards::after{
  content: "";
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 100%;
  background: var(--blue);
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}

.cards:hover {
  background-color: rgba(50, 56, 63, 0.397) ;
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-8px);
  border: none;
  padding-bottom: 16px;
  bottom: 16px;
  color: white;
}

.cards:hover::after{
  opacity: 1;
  transition: all 0.5s ease;
  bottom:16px;
}

.cards *{
  width: 90%;
  margin-left: 30px;
}

.icone-card {
  display: flex;
  justify-content: flex-start;
}

.icone-card img {
  width: 50px;
  height: 50px;
  margin: 0;
  object-fit: contain;
}

.cards h3 {
  font-weight: 600;
  font-size: 24px;
}

.cards p {
  width: 85%;
  font-weight: 200;
  font-size: 18px;
}

.cards:hover .extra {
  opacity: 1;
}

