html {
  scroll-behavior: smooth;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--background-gradient);
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -2; /* fica atrás do conteúdo */
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section h1 {
  width: 900px;
  font-size: 85px;
  font-weight: 800;
  margin: 0;
  color: var(--text-color);
}

.frase {
  font-weight: 400;
  font-size: 35px;
  color: var(--text-color);
  opacity: 1;
  user-select: none;
}

main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.learning-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;

}

.learning-options h2 {
  color: var(--text-color);
  font-size: 45px;
  font-weight: 700;
}

.learning-options span {
  font-size: 25px;
  font-weight: 300;
  padding: 0 0 40px 0;
  color-interpolation-filters: var(--text-color);
}

.destaque {
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 20px;
}


.cards-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
  margin: 20px;
  padding-top: 20px;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 350px;
  height: 350px;
  color: black;

  border-radius: 20px;
  position: relative;
  
  transition: all 0.25s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}

.card:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-10px);
  border: none;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}


.card *{
  width: 90%;
  margin-left: 30px;
}


.icone-card {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card:hover .icone-card {
  transform: scale(1.1);
}

.bg-rosa {
  background: var(--gradient-rosa);
}

.bg-roxo {
  background: var(--gradient-roxo);
}

.bg-azul {
  background: var(--gradient-blue);
}


.icone-card img {
  display: flex; 
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-top: 10px;
  object-fit: contain;
}

.card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 27px;
}

.card p {
  width: 85%;
  font-weight: 300;
  font-size: 18px;
}

.btn-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 85%;
  height: 15%;
  border-radius: 20px;
  margin-left:30px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}